body {
  background-color: rgb(50, 50, 50);
}

p {
  font-family: helvetica;
  font-weight: lighter;
  text-align: left;
  max-width: 50%;
  color: #ffffff;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    display: none;
}

.menu_bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 8%;
  width: 100%;
  background-color: rgb(75, 75, 75);
}

.button_left{
  height: 38%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 77.5%;
}

.button_right{
  height: 38%;
  margin-top: 1%;
  margin-left: 3%;
}

.image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 5%;
  width: auto;
  height: 80%;

}

.work-underline {
  height: 1px;
  width: 80%;
  max-width: 50%;
  background-color: #A99260;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.button:hover {
  color: #000!important;
  background-color: rgba(255,255,255,.1)!important;
}

.button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 1% 1%;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap

}

.button img {
  height: 600px;
}

.reflect img{
  image-orientation: left;
}

.display-left {
    margin-left: 2%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.display-right {
    margin-right: 2%;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}
