body {
  background-color: rgb(50, 50, 50);
}

p {
  font-family: helvetica;
  font-weight: lighter;
  text-align: left;
  max-width: 50vw;
  color: #ffffff;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 5%;
  width: auto;
  height: 80vh;

}

.work-underline {
  height: 1px;
  width: 80vw;
  max-width: 50vw;
  background-color: #A99260;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
