body {
  background-color: rgb(50, 50, 50);
}

p {
  color: rgb(255, 255, 255);
}

.menu_bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: rgb(50, 50, 50);
}

.button_left{
  height: 30%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 75.5%;
}

.button_right{
  height: 30%;
  margin-top: 1%;
  margin-left: 3%;
}

.header {
  font-family: "Bebas Neue", helvetica;
  font-weight: lighter;
  letter-spacing: 10px;
  font-size: 3em;
  text-align: left;
  color: #A99260;
  margin: 50px;
  max-width: 80%;
  margin-top: 120px;
  margin-left: 10%!important;
}

.title-underline {
  height: 1px;
  width: 80%;
  max-width: 80%;
  background-color: #A99260;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.pictures {
  margin-left: 10%;
}

.pictures img{
  min-width: 200px;
  width: 24%;
  margin-right: 4%;
  margin-bottom: 40px;
  padding-top: 10px;
  border-top: 2px solid rgb(50, 50, 50);
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;

}

.img:hover {
  border-top: 2px solid rgb(175, 175, 175);
}

.img:active {
  opacity: 80%;
}
